* {
    box-sizing: border-box;
}

.webgrid {
    grid-template-columns: 300px 1em 200px;
    grid-template-rows: 100px 1em 100px;
}

header {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
}

nav {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
}

ul {
    display: inline-block;
}