@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    
    box-sizing: border-box;
}

.webgrid {
    grid-template-columns: 200px 1em 200px;
    grid-template-rows: 100px 1em 100px;
}

header {
    font-family: 'Dancing Script', cursive;
    color: #e6f4f5;
    background-color: #508ac7;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    padding-left: 25px;
}

nav {
    font-family: 'Dancing Script', cursive;
    color: #e6f4f5;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
}

ul {
    display: inline-block;
}

img {
    grid-row: 2/3;
    grid-column: 2/3; 
    width: 45%;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #e6f4f5;
    background-color: #508ac7;
    width: 45%;
}

footer{
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: 'Dancing Script', cursive;
    background-color: lightgray;
}