@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

.webgrid {
    display: grid;
}

header {
    font-family: 'Dancing Script', cursive;
    color: #e6f4f5;
    background-color: #508ac7;
    text-align: center;
    padding: 1px;
}


nav {
    font-family: 'Dancing Script', cursive;
    color: #e6f4f5;
    background-color: #508ac7;
    text-align: center;
}

ul {
    display: inline-block;
}

img {
    padding: 20px 0px;
    display: block;
    width: 55%;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #e6f4f5;
    background-color: #508ac7;
    width: 55%;
    margin: 0 auto;
    padding: 5px;
}

footer {
    font-family: 'Dancing Script', cursive;
    background-color: lightgray;
    text-align: center;
}